# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Visual Studio specific files and folders
.vs/
Debug/
Release/
x64/
ARM/
ARM64/
Win32/
*.suo
*.user
*.opensdf
*.sdf
*.cache
*.exp
*.tlog
*.ipch
*.aps
*.res
*.recipe
*.log
*.lastbuildstate
ipch/
*.VC.db
*.VC.opendb
*.opendb
vcpkg.applocal.log
*.filters
*.sln.docstates
